:root {
    --bg-color: #FDFBF7;
    --bg-color-2: rgba(217, 217, 217, 0.15);
    --bg-color-footer: #EFF0F2;
    --text-color: #111827;
    --header-bg-color: #F9F6F0;
    --secondary-text-color: #6D7280;
    --third-text-color: #787878;
    --fourth-text-color: #4D4D4D;
    --footer-text-color: #484848;
    --highlight-color: #050505;
    --font-primary: Arial, sans-serif;
    --menu-height: 20rem;
    --button-color: #FCEDE8;
}

html {
    font-size: 25px;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

nav {
    background: #FCEDE8;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
}

label.logo {
    color: #4B5563;
    font-size: 1.5rem;
    font-weight: semi;
    font-family: 'Birthstone', cursive;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

header nav ul li {
    margin: 0 1rem;
    list-style: none;
  
}

header nav ul li a {
    color: #4B5563;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #fff;
    transition: 0.3s;
}

.icons {
    display: flex;
    gap: 1.5rem;
    margin: 0 1rem;
}

.icons i {
    font-size: 1rem;
    color: #4B5563;
    cursor: pointer;
}

.icons i:hover {
    color: #fff;
    transition: 0.3s;
}

.checkbtn {
    font-size: 1rem;
    color: #4B5563;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu {
    padding: 3rem 2rem;
    background-image: url('/picture/coffeeNamu/coffeenamuBack.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 95%;
    color: var(--highlight-color);
    min-height: var(--menu-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    overflow-x: hidden;
}

.menu h1 {
    font-size: 2.5rem;
    margin: 0;
}

.menu p {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.feature {
    margin: 0 auto;
    line-height: 1.5rem;
    gap: 1rem;
    padding: 4rem 1rem 2rem;

}
.feature1 {
    background-color: var(--bg-color-2);
    margin: 0 auto;
    line-height: 1.5rem;
    gap: 1rem;
    padding: 4rem 1rem 2rem;

}
.grid{
    display: grid;
    grid-template-columns: 60% 40%; 
    align-items: flex-start;
}
.feature1 .grid{
    display: grid;
    grid-template-columns: 40% 60%; 
    align-items: flex-start;
    padding-right: 2rem;
}
.feature1 .grid .texts{
    text-align: left;
    color: var(--third-text-color);
}
.texts {
    text-align: right;
    color: var(--third-text-color);
    
}

.texts h2 {
    font-size: 2rem;
    color: var(--text-color);
}

 .images {
    padding: 0rem 1rem;
    width: 80%;
    margin: 0 auto;
} 

.feature-img {

    border-radius: 0.5rem;
    width: 100%; 
    max-width: 450px;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
}
.feature-img-circle {

    border-radius: 50%;
    width: 100%;
    max-width: 400px; 
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    padding: 0.2rem 2rem;
}
.timeline{
    display: block;
    justify-self: center;
    padding-top: 3rem; 
    width: 90%;
}
.button-franchise{
    margin: 40px auto; 
    display: block; 
    width: 25%; 
    height: auto; 
    padding: 1rem ; 
    font-size: 1rem; 
    text-align: center; 
    background-color: var(--button-color); 
    border: none; 
    border-radius: 0.5rem; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); 
}

.button-franchise:hover {
    transform: scale(1.01); 
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.byluu-heseg {
    background-color: var(--bg-color-2);
    padding-top: 1rem;
}
.byluu-heseg h2 {
    text-align: center;  
    color: var(--primary-text-color); 
    font-size: 1.5rem;  

}

.cakes {
    font-size: 0.8rem; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2.5rem; 
    padding: 0rem 2rem;
    justify-items: center; 
}

.cakes article {
    display: flex;
    flex-direction: column;
    align-items: left  ; 
    padding: 1rem; 
}

.cakes article h3 {
    padding-top: 0.8rem;
    color: var(--fourth                       -text-color);
    font-weight: normal;
    margin: 0.5rem 0; 

}
.cakes p {
    color: var(--fourth-text-color);
    font-weight: bold; 
    font-weight: medium;
    margin-top: 0;
}

.cakes img {
    width: 100%; 
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto; 
}
.cakes article:hover img {
    transform: scale(1.02); 
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3); 
}


.salbar h2 {
    padding-top: 1rem;
    text-align: center;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.salbariin-medeelel {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0rem 3rem;
    justify-items: start; 
    margin-top: 0;
}

.salbariin-medeelel article {
    display: flex;
    flex-direction: column;
    align-items: left; 
    padding: 2rem;
}

.salbariin-medeelel article h3 {
    padding-top: 0.8rem;
    color: var(--highlight-color);
    font-weight: medium;
    margin: 0.5rem 0;
}

.salbariin-medeelel p {
    color: var(--fourth-text-color);
    font-weight: normal; 
    margin-top: 0;
    font-size: 0.7rem;
}

.salbariin-medeelel img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.salbariin-medeelel article:hover img {
    transform: scale(1.02);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
    background-color: var(--bg-color-footer); 
    color: var(--footer-text-color); 
    padding-bottom: 1.5rem;
}

.footer-contact {
    padding: 1rem 3rem 2rem ; 

    display: grid;
    grid-template-columns: 35% 17% 18% 25%;
    gap: 1.2rem; 
}

.footer-contact ul {
    list-style-type: none;
    padding: 0;
}
.footer-contact h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.footer-contact h4 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-contact li {
    margin-bottom: 0.5rem; 
}

.footer-contact a {
    color: var(--footer-text-color) ;
    text-decoration: none; 
    transition: color 0.3s ease;
    font-size: 0.7rem;
    padding-right: 0;
}

.footer-contact a:hover {
    color: var(--highlight-color); 
    font-weight: bolder;
}

.footer-contact img {
    width: 1rem;
    height: 1rem;
    padding: 0rem 1rem 0rem 0rem;
 }

.footer-area {
    padding: 1rem 3rem ;
    border-top: 1px solid #444; 
    font-size: 0.7rem;
}

.footer-area p {

    color: var(--footer-text-color); 
}
@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
        background: #FCEDE8;
        position: absolute;
        top: 3rem;
        right: 0;
        width: 100%;
        padding: 0.5rem 0;
    }

    header nav ul li {
        text-align: center;
        margin: 0.5rem 0;
        padding-right: 1.2rem;

    }

    header nav ul.show {
        display: flex;
    }

    .checkbtn {
        display: block;
    }

    .icons {
        display: none;
    }
}
@media (max-width: 1050px) {
  label.logo {
    padding-left: 1.2rem;
  }
  header nav ul li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    font-size: 1rem;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 3rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  header nav ul li {
    display: block;
    margin: 2rem 0;
    line-height: 1.5rem;
  }
  header nav ul li a {
    font-size: 1rem;
  }

  #check:checked~ul {
    left: 0;
  }
  
  .icons {
    display: none;
}
}
